<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>nan5_001.png</key>
			<dict>
				<key>width</key>
				<integer>307</integer>
				<key>height</key>
				<integer>307</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>307</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nan5_002.png</key>
			<dict>
				<key>width</key>
				<integer>307</integer>
				<key>height</key>
				<integer>307</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>307</integer>
				<key>x</key>
				<integer>309</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nan5_003.png</key>
			<dict>
				<key>width</key>
				<integer>307</integer>
				<key>height</key>
				<integer>307</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>307</integer>
				<key>x</key>
				<integer>618</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nan5_004.png</key>
			<dict>
				<key>width</key>
				<integer>307</integer>
				<key>height</key>
				<integer>307</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>307</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>309</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nan5_005.png</key>
			<dict>
				<key>width</key>
				<integer>307</integer>
				<key>height</key>
				<integer>307</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>307</integer>
				<key>x</key>
				<integer>309</integer>
				<key>y</key>
				<integer>309</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nan5_03.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>618</integer>
				<key>y</key>
				<integer>309</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nan5_02.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>97</integer>
				<key>originalHeight</key>
				<integer>153</integer>
				<key>x</key>
				<integer>736</integer>
				<key>y</key>
				<integer>309</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nan5_01.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>109</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>835</integer>
				<key>y</key>
				<integer>309</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nanydb.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>16</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>16</integer>
				<key>x</key>
				<integer>946</integer>
				<key>y</key>
				<integer>309</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nanyxb.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>18</integer>
				<key>originalHeight</key>
				<integer>19</integer>
				<key>x</key>
				<integer>972</integer>
				<key>y</key>
				<integer>309</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nanqg.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>618</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nanydt.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>36</integer>
				<key>y</key>
				<integer>618</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nanlh.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>17</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>72</integer>
				<key>y</key>
				<integer>618</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nantf.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>91</integer>
				<key>y</key>
				<integer>618</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nanyxt.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>21</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>174</integer>
				<key>y</key>
				<integer>618</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nanzxt.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>197</integer>
				<key>y</key>
				<integer>618</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nanzdt.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>223</integer>
				<key>y</key>
				<integer>618</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nanzxb.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>17</integer>
				<key>x</key>
				<integer>252</integer>
				<key>y</key>
				<integer>618</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nanzdb.png</key>
			<dict>
				<key>width</key>
				<integer>12</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>12</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>274</integer>
				<key>y</key>
				<integer>618</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>nan50.png</string>
			<key>realTextureFileName</key>
			<string>nan50.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>